(public/assets/case1.png
public/assets/case2.png
public/assets/hero-bg.png
public/assets/logo.svg
public/assets/profile1.png
public/assets/profile2.png
public/assets/vector.svg
package-lock.json
app/page.tsx